Repository iMicknl/ha-tahoma, pull requests merged in 2020-06, with the labels that each got.

#24 Refactored requests to avoid being locked out of the api.
  custom_components/tahoma/tahoma_api.py
Labels: Needs Testing, enhancement

#77 Bugfix for unable to change tilt position on io:BioclimaticPergolaIOComponent #74
  custom_components/tahoma/cover.py
Labels: bug

#81 [feat] Support io:TotalElectricalEnergyConsumptionIOSystemSensor
  custom_components/tahoma/const.py
  custom_components/tahoma/sensor.py
Labels: enhancement, platform: sensor

#75 Add support for "setRGB" command for light entity.
  custom_components/tahoma/const.py
  custom_components/tahoma/light.py
Labels: Needs Testing, enhancement, platform: light

#54 Add climate entity for Somfy's Smart Thermostat
  .gitignore
  README.md
  custom_components/tahoma/__init__.py
  custom_components/tahoma/climate.py
  custom_components/tahoma/config_flow.py
  custom_components/tahoma/const.py
  custom_components/tahoma/strings.json
  custom_components/tahoma/translations/en.json
Labels: Needs Testing, new-device, platform: climate

#89 Add active_states to device_state_attributes
  custom_components/tahoma/tahoma_device.py
Labels: enhancement
